# Ensure version compatibility between bfabric_web_apps and bfabric_web_app_template.
# Both must be the same version to avoid compatibility issues.
# Example: If bfabric_web_apps is version 0.1.3, bfabric_web_app_template must also be 0.1.3.
# Verify and update versions accordingly before running the application.
# bfabric-web-apps==0.1.7
annotated-types==0.7.0
async-timeout==5.0.1
attrs==24.2.0
blinker==1.9.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
cyclopts==3.1.2
dash==2.18.2
dash-bootstrap-components==1.6.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
docstring_parser==0.16
docutils==0.21.2
Flask==3.0.3
idna==3.10
importlib_metadata==8.5.0
isodate==0.7.2
itsdangerous==2.2.0
Jinja2==3.1.4
loguru==0.7.2
lxml==5.3.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
nest-asyncio==1.6.0
packaging==24.2
platformdirs==4.3.6
plotly==5.24.1
polars-lts-cpu==1.16.0
pydantic==2.10.6
pydantic_core==2.27.2
pydantic-settings==2.8.1
pydantic[email]
Pygments==2.18.0
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
redis==5.2.1
requests==2.32.3
requests-file==2.1.0
requests-toolbelt==1.0.0
retrying==1.3.4
rich==13.9.4
rich-rst==1.3.1
rq==1.15.1
six==1.16.0
suds==1.2.0
tenacity==9.0.0
typing_extensions==4.12.2
urllib3==2.2.3
Werkzeug==3.0.6
zeep==4.3.1
zipp==3.21.0
sample_sheet==0.13.0
pandas==2.2.3
